.sidebar-item {
  padding: 20px;
  background-size: 100% 0;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.sidebar-item:hover {
  background-position: 100% 100%
}
.facebook {
  background-size: 100% -100%;
  background-image: linear-gradient(#3b5998,#3b5998);
  transition: all 0.5s
}

.facebook:hover {
  background-size: 100% 100%;
}

.twitter {

  background-color: #1da1f2;
}

.youtube {
  background-color: #ff0000;
}

.instagram {
  background-color: #c32aa3;
}

.pinterest {
  background-color: #bd081c;
}